<html>
<body>
    <div>
        <form action="/Login/ToLogin">
            <ul>
                <li>
                    <label>Телефон или емаил</label>
                </li>
                <li>
                    <input type="text" name="tel" />
                </li>
                <li>
                    <label>Пароль</label>
                </li>
                <li>
                    <input type="text" name="password" />
                </li>
            </ul>
            <button type="submit">Войти</button>
        </form>
    </div>
    <div>
        <form action="/Login/Register">
            <ul>
                <li>
                    <label>Название компании</label>
                </li>
                <li>
                    <input type="text" name="company_name" />
                </li>
                <li>
                    <label>Город</label>
                </li>
                <li>
                    <input type="text" name="city" />
                </li>
                <li>
                    <label>Улица</label>
                </li>
                <li>
                    <input type="text" name="street" />
                </li>
                <li>
                    <label>Имя</label>
                </li>
                <li>
                    <input type="text" name="first_name" />
                </li>
                <li>
                    <label>Фамилия</label>
                </li>
                <li>
                    <input type="text" name="last_name" />
                </li>
                <li>
                    <label>Номер телефона</label>
                </li>
                <li>
                    <input type="text" name="tel" />
                </li>
                <li>
                    <label>Email</label>
                </li>
                <li>
                    <input type="text" name="email" />
                </li>
                <li>
                    <label>Пароль</label>
                </li>
                <li>
                    <input type="text" name="password" />
                </li>
            </ul>
            <button type="submit">Зарегестрироваться</button>
        </form>
    </div>
</body>
</html>